<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic App</title>
</head>
<body>

<h2 th:text="'Veterinarians'">List of vets</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>

        <th>Name</th>
        <th>Specialities</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.firstName + ' ' + vet.lastName}">FirstName</td>
       <td>
           <span th:each="speciality,index : ${vet.getSpecialities()}"
                 th:text="${!index.last} ? ${speciality + ', '} : ${speciality}"></span>
            <span th:if="${vet.getSpecialities() == null}">none</span>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>